body {
  margin: 2px;
  padding: 0;
}

/* @media(min-width: 480px){
  .parent{
    min-width: 480px;
  }
} */

/* @media(max-width: 360px){
  .parent{
    max-width: 360px;
    background-color: pink;
  }
} */
@media(max-width: 640px){
  .parent{
    max-width: 640px;
    /* background-color: palevioletred; */
  }
}
/*mini ipad*/
@media(min-width: 640px){
  .parent{
    min-width: 640px;
    /* background-color: aqua; */
  }

  .signup{
    width: 50%;
  }

  .input{
    padding: 15px;
  }

  .user-detail{
    width: calc(100% - 10%);
  }
}

@media(min-width: 820px){
  .parent{
    min-width: 820px;
    /* background-color: pink; */
  }
  .home-content{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .signup{
    width: 50%;
  }

  .user-detail{
    width: calc(100% - 10%);
  }
  .signup-form{
    margin-top: 4vh;
    width: 50%;
    align-self: center;
  }
}

@media(min-width: 1030px){
  .parent{
    min-width: 1030px;
    /* display: none; */
  }

  .signup{
    width: 50%;
  }
} 